.dcl-wrap h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 29px;
}
.dcl-wrap p.notice {
    padding: 0 10px
}
.dcl-wrap h2 .subtitle a {
    text-decoration: none;
}
.dcl-wrap .form-table {
    margin-top: 20px;
}
.dcl-wrap p.description {
    font-size: 95% !important;
}
.dcl-wrap .dashicons {
    line-height: inherit;
}