@media (min-width: 1281px) {

    .dcl-wrap .metabox-holder .columns-2 {
        width: 80%;
        float: left;
    }

    .dcl-wrap .metabox-holder .columns-1 {
        width: 20%;
        float: right;
    }

    .dcl-wrap .metabox-holder .columns-2 .postbox-container {
        max-width: 30%;
        margin: 5px;
    }

    .dcl-wrap .metabox-holder .columns-2 .postbox-container .postbox {
        min-height: 205px;
    }

    .dcl-wrap .form-table {
        width: 75%;
    }
}

.dcl-wrap .dcl-buy-btn {
    text-align: center;
}

.dcl-wrap .dcl-credits-box a {
    text-decoration: none;
}

.dcl-wrap h1 {
    font-weight: 700;
    margin-bottom: 10px;
}

.dcl-wrap .description {
    font-size: 13px;
}